*
{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif, tahoma;

}

body
{  
  background: url(img/eggpattern.jpg);
	background-repeat:repeat;
	background-attachment:fixed;
	background-position:center;
}

section
{
  position: relative;
  display: flex;
  max-width: 1200px;
  height: 10vh;
  margin: 0;
  padding: 0;
}
section .user h3
{
  background: white;
  border-radius: 30px;
  font-size: 2vw;
  padding: 3px;
  display: block;
  float: left;
  color: rgb(255, 0, 170);
}
section .crop img
{
  background: white;
  height: 50px;
  width: 50px;
  margin: 10px;
  object-fit: cover;
 border-radius: 50%;
 display: block;
  float: left;
}


header
{
  position: relative;
  max-width: 1200px;
  margin: 20px auto;
  padding: 10px;
  background: #fff;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.logo img
{
  height: 50px;
  float: left;
}
nav
{
  float: right;
  }
.clearfix
{
  clear: both;
}
.logo ul
{
  list-style-type: none;

}

nav ul, .modal-footer ul
{
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul li, .modal-footer ul li
{
  list-style: none;
}
nav ul li a
{
  display: block;
  margin: 10px 0;
  padding: 10px 20px;
  text-decoration: none;
  color: #262626;
}
nav ul li a.active,
nav ul li a:hover
{
  background: #069370;
  text-decoration: none;
  color: #fff;
  transition: 0.5s;
}
.modal .modal-footer button
{
  position: relative;  
  display: inline-block;
  padding: 8px;
  text-decoration: none;
  color: #262626;
  font-size: 16px;
}
.modal .modal-footer button:hover
{
  background: #93067b;
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
}

section .formbox
{
  position: relative;
  height: 100vh;
  background: #1c2431;
  display: grid;
}

.box
{
  position: relative;
  background: #73a7a5;
  width: 320px;
  height: 900px;
  border-radius: 10px;
  margin: auto;
}


.form-control
{
  position: relative;
  margin: auto;
  width: 300px;
}


label
{
  padding: 2px;
  text-align: center;
  color: white;
}

.box  input::-webkit-input-placeholder { /* Edge */
  color: #8bbbb3;
}

.box  input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #8bbbb3;
}

.box input::placeholder {
  color: #8bbbb3;
}

.form-group button
{
  position: relative;
  left: 30px;
  display: inline-block;
  padding-top: 30px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  color: #262626;
  font-size: 16px;
}
.form-group button:hover
{
  background: #069370;
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
}




@media (max-width: 1200px)
{
  header
  {
    margin: 20px;
  }
}
@media (max-width: 768px)
{
  section .user h3
{
  font-size: 4vh;
}
  .menu-toggle
  {
    display: block;
    width: 40px;
    height: 40px;
    margin: 10px;
    float: right;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    color: #069370;
  }
  .menu-toggle:before
  {
    content: '\f0c9';
    font-family: fontAwesome;
    line-height: 40px;
  }
  .menu-toggle.active:before
  {
    content: '\f00d';
  }
  nav
  {
    display: none;
  }
  nav.active
  {
    display: block;
    width: 100%;
  }
  nav.active ul
  {
    display: block;
  }
  nav.active ul li a
  {
    margin: 0;
  }
}
